.root {
    -fx-background-color:  linear-gradient(gray,DimGrey);
    -fx-padding: 20px 50px 50px 50px;
}

.top {
    -fx-padding: 20px 20px 20px 30px;
}

.form {
    -fx-background-color:  linear-gradient(lightgray, gray);
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10px 10px 10px 10px;
    -fx-background-radius: 20;
    -fx-vgap: 5px;
    -fx-hgap: 5px;
}

.head {
    -fx-fill:  linear-gradient(orange , orangered);
    -fx-font-family: "Courier New";
    -fx-font-weight: Bold;
    -fx-font-size: 28;
    -fx-effect: dropshadow( three-pass-box , black , 0,0,5,5 );
}

.error {
    -fx-text-fill: yellow;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.btn {
    -fx-background-radius: 30, 30, 29, 28;
    -fx-padding: 3px 10px 3px 10px;
    -fx-background-color: linear-gradient(darkgoldenrod, darkorange );
    -fx-font-weight: bold;
}